.App {
  margin-top: 2rem;
  background-color: #fff;
  width: 800px;
  padding: 1rem 2rem 0;
}

h1 {
  font-size: 3rem;
  text-transform:uppercase;
  text-align: center;
  font-weight: 300;
}

.textCenter {
  text-align: center;
}

